[run]
# ソースパッケージの指定
source = 
    sailing_data_processor

# 対象外にするファイルやディレクトリ
omit =
    */__pycache__/*
    */tests/*
    */test_*
    *test_*.py
    *tests_*.py
    test_*.py
    tests_*.py
    */venv/*
    */.venv/*
    */site-packages/*
    setup.py
    sailing_data_processor/reporting/elements/map/layers/data_connector.py
    .git/*
    .pytest_cache/*
    .coverage
    htmlcov/*
    conftest.py

[report]
# レポートに表示するもの
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    raise ValueError
    except ImportError
    if self.debug:

# 対象外にするファイルやディレクトリ（レポート用）
omit =
    */__pycache__/*
    */tests/*
    */test_*
    *test_*.py
    *tests_*.py
    test_*.py
    tests_*.py
    */venv/*
    */.venv/*
    */site-packages/*
    setup.py
    sailing_data_processor/reporting/elements/map/layers/data_connector.py
    .git/*
    .pytest_cache/*
    conftest.py

# 欠損行の表示
show_missing = True

# カバレッジ下限値（%）
fail_under = 70

[html]
# HTMLレポートディレクトリ
directory = coverage_html_report
