# 主要依存パッケージ
streamlit==1.38.0
pandas==2.2.0
numpy==1.26.3
matplotlib==3.8.2
folium==0.15.1
streamlit-folium==0.17.0
gpxpy==1.6.0
geopy==2.4.1
scikit-learn==1.4.0
plotly==5.18.0
scipy==1.11.4
fitparse==1.2.0
tqdm==4.66.2

# グラフエクスポート
kaleido==0.2.1
svglib==1.5.1
reportlab==4.0.9
Pillow==10.2.0
openpyxl==3.1.2
XlsxWriter==3.1.9
fpdf2==2.7.8
markdown==3.5.2
pdfkit==1.0.0
weasyprint==60.2

# システム監視用
psutil==5.9.8

# ストレージソリューション
streamlit-js-eval==0.1.5

# Streamlit Cloudの依存関係
toml==0.10.2
watchdog==3.0.0
